@page "/suppliers/onboarding"


<MudGrid>
   
        <h3> Company Details </h3>
        <MudItem xs="12">
            <MudTextField T="string" Label="Company Name" Required="true" RequiredError="Supplier name is required!"/>
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Label="Company Address" Required="true" RequiredError="Supplier name is required!"/>
        </MudItem>
        <MudItem xs="6">
            <MudTextField T="string" Label="Company Address" Required="true" RequiredError="Supplier name is required!"/>
        </MudItem>
        <MudItem xs="6">
            <MudTextField T="string" Label="Company Website" Required="true" RequiredError="Supplier name is required!"/>
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Label="Other Details" Lines="5" Required="true" RequiredError="Supplier name is required!"/>
        </MudItem>
   

    
        <h3> Contact Details </h3>
        <MudItem xs="6">
            <MudTextField T="string" Label="Full Name" Required="true" RequiredError="Supplier name is required!"/>
        </MudItem>
        <MudItem xs="6">
            <MudTextField T="string" Label="Job Title" Required="true" RequiredError="Supplier name is required!"/>
        </MudItem>
        <MudItem xs="6">
            <MudTextField T="string" Label="Email Address" Required="true" RequiredError="Supplier name is required!"/>
        </MudItem>
        <MudItem xs="6">
            <MudTextField T="string" Label="Office Number" Required="true" RequiredError="Supplier name is required!"/>
        </MudItem>
        <MudItem xs="6">
            <MudTextField T="string" Label="Mobile Number" Required="true" RequiredError="Supplier name is required!"/>
        </MudItem>
    
</MudGrid>





@code {

}
