@inherits LayoutComponentBase
<html>
<head>
    <title>Layout Example</title>
</head>
<body>
    <div class="content">
        @Body
    </div>
</body>

    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</html>